<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue.js常用指令的测试</title>
</head>
<body>
<div id="app">
    <!--相当于MVVM的view视图-->
    <input type="text" v-model="num1"/> +
    <input type="text" v-model="num2"/> =
    <span v-text="result"></span>
    <button v-on:click="change">计算</button>
</div>
</body>
<script src="build.js"></script>
<script>
    //编写MVVM中的model部分及VM（ViewModel）部分
</script>
</html>